# .gitignore for WINDEV, WEBDEV and WINDEV Mobile projects
#
# WINDEV – WEBDEV – WINDEV Mobile
Backup
Bin
cache.gestion de sources
Corbeille
Groupware
Lastsave
Sauvegarde
*.cache
*.cpl
*.env
*.rep
*.waudit
*.wdcoverage
*.wpf
HstDuree.log
#
#WEBDEV
*\res
*.awl
*.awp
#
# WINDEV Mobile 
android
*.xcode.gen
#-----
Exe
Gabarits
Aperçu impression
Gabarits
Données des tests automatiques
WDFAA
WDFAA_1
Svg_V25_20210813_1715
Svg_V26_20220826_1519